  a {
    text-decoration: none;
  }
  
  .books-list__counter {
    font-style: italic;
    color: var(--text-secondary);
    padding: var(--spacing-large);
  }
  
  .books__list {
    margin-top: var(--spacing-large);
  }
  
  .books-list__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 var(--spacing-xlarge);
  }
  
  .books-list__no-more-books,
  .books-list__no-books {
    color: var(--accent-color);
    font-style: italic;
    font-size: var(--font-size-large);
  }
  
  .books-list__load-more {
    margin: 0 auto var(--spacing-large) auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: var(--button-color);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: var(--border-radius-small);
    transition: background-color 0.3s;
    height: 38px;
    line-height: 1.5;
  }
  
  .books-list__load-more:hover {
    background-color: var(--button-hover-color);
  }
  