
* {
  box-sizing: border-box;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 2rem 1rem;
  background-color: var(--components-background-color);
  border-radius: var(--border-radius-small);
  max-width: 600px;
  width: 90%;
}

.search-form__input-group {
  display: flex;
  width: 100%;
}

.search-form__input {
  padding: var(--spacing-small);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-small);
  width: 100%;
  height: calc(2 * var(--spacing-small) + var(--font-size-base));
  line-height: 1.5;
  flex-grow: 1;
}

.search-form__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--button-color);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: var(--border-radius-small);
  transition: all 0.3s;
  height: calc(2 * var(--spacing-small) + var(--font-size-base));
  line-height: 1.5;
  margin-left: var(--spacing-medium);
}

.search-form__button:hover {
   background-color: var(--button-hover-color);
 
}

.search-form__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  background-color: transparent;
  background-image: url('../../images/icons/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.search-form__filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-form__categories,
.search-form__sorting {
  display: flex;
  align-items: center;
}

.search-form__select {
  margin-top: var(--spacing-small);
  margin-left: var(--spacing-small);
  padding: var(--spacing-small);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-small);
  width: 6rem;
}

@media screen and (max-width: 455px) {
  .search-form__filters {
    flex-direction: column;
    align-items: flex-end;
  }
}
