
  .single-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--components-background-color);
  border-radius: var(--border-radius-small);
  padding: var(--spacing-xlarge);
  max-width: 800px;
  margin: var(--spacing-large) auto;
}

.single-book__header {
  width: 100%;
  text-align: center;
  margin-bottom: var(--spacing-medium);
}

.single-book__title {
  font-size: var(--font-size-xlarge);
  font-weight: bold;
}

.single-book__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--spacing-medium);
}

.single-book__img {
  max-width: 400px;
  margin-bottom: var(--spacing-medium);
  width: 138px;
  height: 196px;
  align-self: center;
}

.single-book__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-large);
}

.single-book__section {
  width: 100%;
}

.single-book__section h2 {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-small);
}

.single-book__descr {
  font-size: var(--font-size-base);
  line-height: 1.5;
  text-align: justify;
}
