.books__item {
    transition: 0.3s transform;
    list-style-type: none;
    flex-basis: 170px;
    margin-bottom: 30px;
}

.books__item-img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    width: 138px;
    height: 196px;
}

.books__item-name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.books__item-price {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}

.books__item:hover {
    transform: translateY(-5px);
}